@import "tailwindcss";

@theme {
  --font-sans: var(--font-plus-jakarta);
}

:root {
  --background: #f8f9f8;
  --foreground: #131312;
}

body {
  color: var(--foreground);
  background: var(--background);
}
